.our-client{
    width:90%;
    margin: 0 auto;
    padding-bottom: 50px;
    overflow:hidden;
  }
  .c-container{
    display: grid;
    grid-template-columns: repeat(16,0fr);
    gap: 50px;
    align-items: center;
    /* float:left;
    animation: 20s cItem linear infinite;
    position:relative; */
  }
  .c-item{
    width: 150px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border:1px solid black; */
  }

  /* @keyframes cItem{
    0%{
      left:-0%
    }
    10%{
      left:-15%
    }
    20%{
      left:-30%
    }
    30%{
      left:-45%
    }
    40%{
      left:-60%
    }
    50%{
      left:-75%
    }
    60%{
      left:-90%;
    }
    70%{
      left:-105%;
    }
    80%{
      left:-120%
    }
    90%{
      left:-145%
    }
    100%{
      left:-150%
    }  
  } */

  .c-item img{
    /* height:150px; */
    width: 150px;
  }
  .c-item p{
    display: none;
    font-size: 12px;
    text-align: center;
  }