
  .our-concern{
    display: grid;
    grid-template-columns:repeat(3,0fr);
    gap: 70px;
    justify-content: center;
    
   
  }
  .concern-card-body{
    height:25vw;
    width: 25vw;
    justify-content:flex-end;
    display:flex;
    gap: 20px;
    align-items:center;
    flex-direction: column;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 7px 3px #00000028;
    overflow: hidden;
    border: 3px solid white;
    background:#ebebeb6b

  }
  .concern-card-body img{
    width: 100%;
    height: 100%;
  }
  
  .concern-card-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 25%;
  }

  .concern-card-icon img{
    /* width: 80%; */
    height: auto;
    text-align: center;
    justify-content: center;
    cursor: pointer;
  }
  .concern-card-des{
    background: transparent;
    width: 80%;
    height: 55%;
    cursor: pointer;
    text-align: justify;
    color:rgb(10, 10, 10);
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
  }
  .img{
    height: 100%;
    transition: height 1s ease;
  }

  .concern-card-body:hover .img{
    height: 0px;
    transition: height 1s ease;
  }

  /* #prefly{
    background-image: linear-gradient(40deg,rgba(10, 161, 153, 0.514),rgb(208, 85, 233),rgb(14, 102, 153));
  }
  #twills{
    background-image: linear-gradient(40deg,rgba(81, 10, 102, 0.295),rgb(74, 56, 179),rgba(72, 13, 100, 0.575));
  }
  #bhorosha{
    background-image: linear-gradient(40deg,rgba(29, 78, 6, 0.5),rgb(85, 134, 21),rgb(33, 190, 12));
  } */

