
.footer{
    margin-top:100px ;
    padding-top: 2px;
    background:#ee404d;
    /* background: rgb(221, 219, 219); */
}
.site-map{
    display: grid;
    grid-template-columns:3fr 1fr 2fr 2fr;
    width: 90%;
    margin:auto;
    margin-top: 1%;
    gap:10px
}

.site-map-content{
display: flex;
flex-direction: column;
gap:1vw;
/* color: black; */
color: white;
font-size: 14px;
font-weight: 400;
margin-bottom: 2px;
}

.site-map-content img{
    width:fit-content;
    height: 20px;
}

.site-map-content p{
    display: flex;
    font-size: 15px;
    font-weight: 400;
    width:fit-content;
    height: 20px;
    gap:5px
}

.site-map-content p span{
color: black;
font-weight: 700;
}


.site-map-content a{
    width:fit-content;
    height: 100%;
    display: flex;
    color: rgb(255, 255, 255);
}

.copy-right{
    display: block;
    text-align: center;
    color:#ee404d;
    font-size: 14px;
    font-weight: 500;
    background: rgb(255, 253, 253);
    margin-top: 1%;
    
}
