
.our-product{
    display: grid;
    grid-template-columns:repeat(3,0fr);
    gap: 70px;
    justify-content: center;
  }

  .the-card{
    position: relative;
    width: 25vw;
    height: 25vw;
    transform-style: preserve-3d;
    transition: all 1s ease;
  }
  .the-card:hover{
    transform:rotateY(180deg);
  }
  .the-front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* background: red; */
    border-radius: 20px;
    color: white;
  }
  .the-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform:rotateY(180deg);
    border: 2px solid whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 7px 3px #00000069;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-card-body{
    width: 25vw;
    height: 25vw;
    justify-content: center;
    display:flex;
    align-items:center;
    border: 2px solid whitesmoke;
    flex-direction: column;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 7px 3px #00000069;
    overflow: hidden;
  }
  
  .product-card-icon{
    height:80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-card-icon img{
    height: auto;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    width: 80%;
  }
  
  .product-card-des{
    color: white;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
  }

  .the-back .product-card-des{
    color: rgb(253, 251, 251);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    height: 100%;
    width:90%;
    margin: 0 auto;
  }

  
  .the-back .product-card-des h1{
    font-size: 28px;
  }

  .the-back p{
    height: 70%;
    display: flex;
    align-items: center;
  }
  .the-back button{
    padding: 2% 5%;
    background: rgba(10, 42, 184, 0);
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 7px 3px #00000069;
  }



  #prefeex{
    background-image: linear-gradient(90deg,#ee404cd2,#ee404d);
  }
  #ledgiq{
    background-image: linear-gradient(90deg,#bbbaba,#2da01e);
  }
  #shoccho{
    background-image: linear-gradient(90deg,#6484ff,#af00ff);
  }
  


