@media screen and (max-width: 961px){
    .nav-list{
        display: none;
    }
    .navbar{
        height: 15vw;
        align-items: center;
        
    }

    #ham{
        display:flex;
        align-items: center;
        margin-right: 20px;
        font-size: 20px;
        font-weight: 900;
        color:#ee404d;

    }
    .site-map{
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(2,1fr); 
     }
    
}

@media screen and (max-width: 850px){
.our-product{
    grid-template-columns:repeat(1,0fr) ;
}
.the-card{
    width: 35vw;
    height: 35vw;
}
.product-card-body{
    width: 35vw;
    height: 35vw;
}
.our-concern{
    grid-template-columns:repeat(1,0fr) ;
}
.concern-card-body{
    height:35vw;
    width: 35vw;
}
.contact{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-left{
    width: 100%;
}
.contact-right{
    width: 100%;
}
.p-container{
    grid-template-columns: repeat(4,1fr);
}

}
@media screen and (max-width: 660px){
    .site-map{
        grid-template-columns:2fr 1fr;
        grid-template-rows:1fr 1fr; 
     }
     
     .nav-img img{
        transform: translate(0px);
        width: 220px;
        border: none;
        border-radius: 0px;
        transition:0ms ease-in-out;
        margin-left: 0px;
        margin-top: 12px;
     }

     .nav-img img.scrol{
        transform: translateY(0px);
        width: 220px;
        border: none;
        transition:0ms ease-in-out;
        border-radius: 0px;
        margin-left: 0px;
        margin-top: 12px;
     }
}

@media screen and (max-width: 414px){
    .concern-card-body{
        height:75vw;
        width: 75vw;
    }

    .the-card{
        width: 75vw;
        height: 75vw;
    }
    .product-card-body{
        width: 75vw;
        height: 75vw;
    }
}


@media screen and (min-width: 962px){
    .dropdown-block{
        display: none;
    }
    #ham{
        display: none;
    }
}
